* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
	width: 100%;
	font-family: sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.navbar {
  	margin: 0;
	padding: 0;
	background-color: #ff6347;
	width: 100%;
	position: fixed;
}

.nav-menu {
  	list-style: none;
  	display: flex;
  	gap: 20px;

}

.nav-menu li {
	height: 60px;
	display: flex;
}

.nav-menu a {
  	color: white;
  	text-decoration: none;
  	padding: 0 20px;
  	font-size: 20px;
	align-items: center;
  	display: flex;
	height: 100%;
}

.menu-item:hover {
	background-color: white;
	color: black;
}


/* Dropdown menu */
.dropdown-menu {
  	position: absolute;
  	top: 100%;
  	left: 0;
  	background: #ff6347;
  	list-style: none;
  	min-width: 180px;
  	display: none;
  	padding: 0;
}

/*Show first dropdown*/
.dropdown:hover .dropdown-menu {
	display: block;
}

/*Parentfor second dropdown*/
.has-submenu {
	position: relative;
}

/*Second dropdown*/
.mini-dropdown-menu {
  	position: absolute;
  	top: 0;
  	left: 100%; /*Makes it appear infront/right side*/
  	background: #ff6347;
  	list-style: none;
  	min-width: 220px;
  	display: none;
  	padding: 0;
}

/* Hover styling */
.dropdown-menu li a,
.mini-dropdown-menu li a {
  	padding: 12px 15px;
  	display: block;
	background: #E9967A;
  	color: white;
}

.dropdown-menu li a:hover,
.mini-dropdown-menu li a:hover {
  	background: yellow;
  	color: black;
}

/*.dropdown > a::after {
	content: "";
	display: inline-block;
	margin-left: 8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
	vertical-align: middle;
	transition: transform 0.3s ease;
}*/

.dropdown:hover > a::after {
	transform: rotate(180deg);
	border-top-color: black;
}

.dropdown-menu li a {
  	padding: 12px 15px;
}

/* Hover behavior */
.dropdown:hover .dropdown-menu {
 	display: block;
}

/* Optional hover effect */
.dropdown-menu li a:hover {
  	background: white;
  color: black;
}

.m3-align-center {
	background-color: #dc143c;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 50px;
	width: 100%; 
}

.m3-xlarge {
	padding: 40px;
	font-size: 70px;
	color: #ffffff;
	font-family: calibri light;
}

.m3-medium {
	color: #ffffff;
	font-size: 25px;
	padding-bottom: 40px;
}

.m3-btn-padding {
	padding: 40px;
}

.m3-btn {
	background-color: #000000;
	color: #ffffff;
	padding: 13px;
	font-size: 20px;
	border: none; 
}

.m3-btn:hover {
	background-color: #C0C0C0;
	color: #000000;
}

.m3-two-columns {
	display: flex;
	padding-top:;
	padding-bottom:;
	width: 100%;
	text-align: justify;
	justify-content: center;
}

.m3-column-one {
	width: 50%;
	padding-left: ;
	padding-right:;
}

h2 {
	padding-bottom: 30px;
	font-size: 50px;
	font-weight: normal;
}

.m3-text-size-30 {
	font-size: 17px;
	font-family: sans-serif;
	text-align: justify-all;
}

/*Dropdown*/
.m3-dropdown-hover {
  position: relative;
  display: none;
}

.m3-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.m3-dropdown-hover:hover .m3-dropdown-content {
  display: block;
}

.m3-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/*.m3-column-two {
	width: 25%;
	padding-right: 180px;
	padding-left: 70px;
	color: #ff0000; 
	font-size: 180px;
}
*/
.m3-color-grey {
	color: #808080;
	padding-top: 30px;
}

.m3-third {
	width: 25%;
	padding-top: 50px;
	text-align: center;
	font-size: 190px;
	color: #ff0000; 
}

.m3-two-third {
	width: 75%;
	padding-top: 50px;
	padding-left:15%;
	padding-right: 15%;
	padding-bottom: 50px;
	text-align: justify-all;
}

.m3-two-col {
	background-color: #f8f8ff;
}

.m3-black {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #808080;
	text-align: center;
}

.m3-margin {
	width: 100%;
	background-color: #808080;
	color: #ffffff;
	font-weight: normal;
	padding: 50px;
}
/* Footer */
.m3-padding-32 {
	padding: 32px;
	font-size: 30px;
}

.m3-hover-opacity {
	padding: 3px;
}

.m3-hover-opacity:hover {
	opacity: 0.7;
}

.fa-facebook-official {
	color: #1e90ff;
}

.fa-twitter {
	color: #00bfff;
}

.fa-whatsapp {
	color: #008000;
}

.fa-telegram {
	color: #00bfff;
}

.m3-center {
 	color: #000000;
 	border-color: #f5f5f5;
 	background-color: #f8f8ff;
 	text-align: center;
 }

 .m3-end:hover {
 	background-color: #87ceeb;
 	color: #000000;
 }

/* On Small Screen/Mobile */
  @media (max-width: 767px) {
 	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {  
  }
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}

 }







